<!--  footer -->
<footer>
  <div class="footer ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form class="contact_bg">
            <div class="row">
              <div class="col-md-12">
                <div class="titlepage" *ngIf="!contactPage">
                  <h2>Contact</h2>
                </div>
<!--                <div class="col-md-12">-->
<!--                  <input class="contactus" placeholder="Your Name" type="text" name="Your Name">-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                  <input class="contactus" placeholder="Your Email" type="text" name="Your Email">-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                  <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                  <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>-->
<!--                </div>-->
<!--                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">-->
<!--                  <button class="send">Send</button>-->
<!--                </div>-->
              </div>
            </div>
          </form>

        </div>
        <div class="col-md-12 border_top">
          <form class="news">
<!--            <h3>Newsletter</h3>-->
<!--            <input class="newslatter" placeholder="ENTER YOUR MAIL" type="text" name=" ENTER YOUR MAIL">-->
<!--            <button class="submit">Subscribe</button>-->
          </form>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <div class="address">
                <ul class="loca">
                  <li>
                    <a href="#"><img src="assets/icon/loc-blue.png" alt="#" /></a>Salt Lake City, UT

                  <li>

                    <a href="#"><img src="assets/icon/call-blue.png" alt="#" /></a>+636-484-0824 </li>
                  <li>
                    <a href="#"><img src="assets/icon/email-blue.png" alt="#" class="email-icon" /></a>micha.j.ingram@gmail.com </li>
                </ul>


              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <ul class="social_link">
                <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="container">
      <div class="copyright">

        <p>Copyright 2022 All Right Reserved By <a href="https://html.design/">Big Alpine Web Design</a></p>
      </div>
    </div>
  </div>
</footer>
