<!--<app-loader></app-loader>-->
<app-header></app-header>


<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
          <h2>Upcoming Concerts</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upcoming -->
<div id="upcoming" class="upcoming">
  <div class="container-fluid padding_left3">
    <div class="row display_boxflex">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
        <div class="box_text">
          <div class="titlepage">
            <h2>Upcoming Concerts</h2>
          </div>
          <ul *ngFor = "let concert of concerts">
            <li >{{concert.date}}<br> {{concert.venue}}, {{concert.city}}, {{concert.state}}<br> {{concert.time}} with {{concert.guest}}</li>
<!--            <li ><button (click)="updateShow(concert.id, concert.date, concert.time, concert.venue, concert.city, concert.state, concert.guest)">Update</button></li>-->
            <li *ngIf="isAdmin"><button (click)="deleteShow(concert.id)" class="btn btn-primary delete-Btn">Delete</button></li>
            <br>
          </ul>
          <a routerLink="/">Back To Home</a>
        </div>
      </div>

      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 border_right">
        <div class="upcomimg">
          <figure><img src="assets/images/sax_photo_v2.jpg" alt="#"/></figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end upcoming -->


<div *ngIf="isAdmin" class="concert-crud">
  <form [formGroup]="concertForm">
    <fieldset>
      <legend>New Show Info</legend>
      <div class="form-field">
        <label class="date-label">Date:</label>
        <input name="date" formControlName="date" class="form-control date-input">
      </div>
      <div class="form-field">
        <label class="time-label">Time</label>
        <input name="time" formControlName="time" class="form-control time-input">
      </div>
      <div class="form-field">
        <label class="venue-label">Venue</label>
        <input name="venue" formControlName="venue" class="form-control venue-input">
      </div>
      <div class="form-field">
        <label class="city-label">City</label>
        <input name="city" formControlName="city" class="form-control city-input">
      </div>
      <div class="form-field">
        <label class="state-label">State</label>
        <input name="state" formControlName="state" class="form-control state-input">
      </div>
      <div class="form-field">
      <label class="guest-label">Guest</label>
      <input name="guest" formControlName="guest" class="form-control guest-input">
    </div>
    </fieldset>
    <div class="form-buttons" >
      <button class="btn btn-primary addShow-btn"
          (click)="createShow()">Add Show</button>
    </div>
  </form>
</div>

<app-footer></app-footer>
