<!--<app-loader></app-loader>-->
<app-header></app-header>

<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
          <h2>About</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- about  -->
<div id="about" class="about">
  <div class="container">
    <div class="row display_boxflex">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>About</h2>
          <p>{{name}} took an interest in music at a young age and started playing guitar when he was 7 years old.
            After bashing away at guitar for a few years and an increasing interest in jazz he took up saxophone. Now he uses his
            multi-instrumentalist techniques to produce and perform tracks that blend LoFi Hip-Hop, Jazz, Funk and House music.
          <br><br>
            He formally studied both jazz guitar and saxophone under numerous teachers giving him an appreciation for many different sides of music.
            In bands, he plays either one at a high level or sometimes both switching between songs. Later, he got into production through live looping
            with Ableton Live. Now his solo act consists of a mixture of production, samples, DJ-ing, saxophone and guitar that is entertaining
            both visually and aurally.
          </p>
          <a routerLink="/">Back To Home</a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure><img src="assets/images/record-cartoon.png" alt="#" /></figure>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end abouts -->
<app-footer></app-footer>





