<app-header></app-header>
<div class="login-modal">
<form [formGroup]="form">
  <fieldset>
    <legend>Admin Login</legend>
    <div class="form-field">
      <label class="email-label">Email:</label>
      <input name="email" formControlName="email" class="form-control email-input">
    </div>
    <div class="form-field">
      <label class="password-label">Password:</label>
      <input name="password" formControlName="password"
             type="password" class="form-control password-input">
    </div>
  </fieldset>
  <div class="form-buttons" >
    <button class="btn btn-primary login-btn"
            (click)="login()">Log In</button>
  </div>
</form>
</div>
