<app-header></app-header>
<div class="login-modal">
<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <div  class="switch" (click)="switchLogin()">Switch to {{signUpOrLogin}}</div>
    <div class="form-field">
      <label class="email-label">Email:</label>
      <input name="email" formControlName="email" class="form-control email-input">
    </div>
    <div class="form-field">
      <label class="password-label">Password:</label>
      <input name="password" formControlName="password"
             type="password" class="form-control password-input">
    </div>
  </fieldset>
  <div class="form-buttons" *ngIf="signUpOrLogin === 'Sign Up'">
    <button class="btn btn-primary login-btn"
            (click)="login()">Log In</button>
  </div>
  <div class="form-buttons" *ngIf="signUpOrLogin === 'Log In'">
    <button class="btn btn-primary signup-btn"
            (click)="signUp()">Sign Up</button>
  </div>
</form>
</div>
